<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='detail.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
    <title>Edit Tweet</title>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
</head>

<div class='logout-box'>
    <a href="/thoughts" id="logout">Dashboard</a>
    <a href="/logout" id="logout">logout</a>
</div>

<body>

    <div id="container">

        <p class="name-says">{{pensar[0]['first_name']}} says: </p>
        <p class="message-box">
            {{pensar[0]['message']}}</p>


        <br>
        <div class="buttons-box">
            <a href="/thoughts/{{pensar[0]['id']}}/like"><button class="btn btn1">Like</button></a>
            <a href="/thoughts/{{pensar[0]['id']}}/unlike"><button class="btn btn2">Unlike</button></a>
        </div>


        <p class="title">Pleople who liked this thought:</p>

        <div class="action-box">
            <table class="table">
                <thead style="background-color: #343434; color: white;">
                    <tr>
                        <th>First Name:</th>
                        <th>Last Name:</th>
                    </tr>
                </thead>
                <tbody>

                    {% for likes in user_likes%}
                    <tr style="background-color: rgb(223, 223, 223);">
                        <td>{{likes['first_name']}}</td>
                        <td>{{likes['last_name']}}</td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>




    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>

</html>